<link href="/css/Chitmoe.css" rel="stylesheet" type="text/css">

<div id="profile">
    <img src="{{user.profile_picture}}"/>
</div>
  <div>
    <h1>Welcome!</h1>
    <form class="user-form" action="" method="post">
      <input type="hidden" name="_id" value="{{user._id}}">
      <input type="hidden" name="profile_picture" value="{{user.profile_picture}}">
      <label for="name">Name</label>
      <input placeholder="Enter your full name here" type="text"
      value="{{user.full_name}}" name="full_name" id="name"/>
      <br />
      <label for="uname">Username</label>
      <input placeholder="Enter a username" type="text"
      value="{{user.username}}" name="username" id="uname"/>
      <br />
      <label for="bio">Bio</label>
      <textarea placeholder="Tell us a little about yourself" type="text"
      value="{{user.bio}}" name="bio" id="Bio"></textarea>
      <br />
      <label for="website">Website</label>
      <input placeholder="Enter your personal website" type="text"
      value="{{user.website}}"name="website" id="website">
      <br />
      <button type="submit" value="Save" id="button">Save</button>
    </form>
  </div>
  <br />
  <br />
  <br />
