<link href="/css/Derek.css" rel="stylesheet" type="text/css">

<div class="content">
    <div class="squeeze">
      <div class="search">
        <div>
          <a id="saveicon" href="#"></a>
          <form action="" method="post">
            <input type="text" name="query"/>
            <input type="submit" name="submit" value="Submit" id="button"/>
          </form>
          <div class="clear"></div>
        </div>
        <div>
          {{#if user.tags}}
            <h2>Saved Searches</h2>
            {{#each user.tags}}
                <li>#<a href="/user/search/{{this}}">{{this}}</a></li>
            {{/each}}
          {{/if}}
        </div>
        <div class="clear"></div>
      </div>
      <div class="searchresults">
        {{#each feed}}
        <div>
          <img src="{{this.images.standard_resolution.url}}" alt=""/>
          <div>
          <h3>{{this.likes.count}} likes</h3>
          <h3>{{this.comments.count}} comments</h3><br>
            {{#if this.tags}}
            <h3>tags</h3>
            <ul>
              {{#each this.tags}}
              <li><a href="/user/search/{{this}}">{{this}}</a>,</li>
              {{/each}}
            </ul>
            {{/if}}
            <a id="likebutton" href="#"></a>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
</div>
